BODY{padding-top:80px;}
H1{margin-bottom:40px;}
.container A{padding:2px;display:inline-block;text-decoration:none;color:black;border-bottom:1px #ccc solid;}
.container A:HOVER{background:#fafafa;}
FOOTER{padding:1rem;margin-top:40px;}



@media screen and (min-width: 800px) {
    BODY{padding-bottom:160px}
    FOOTER{position:fixed;bottom:0;left:0;right:0;}
}